*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: source sans pro, sans-serif;
}

h1{
    color: white;

}

h1:hover{
    color: teal;
    background-color: white;
    position: relative;
    top: 0px;
    transition: .9s;

}

h4{
    color: white;
}

h4:hover{
    color: yellow;
    background-color: wheat;
    position: relative;
    top: 0px;
    transition: .9s;

    text-transform: lowercase;
}


h6{
color: white;

}



h6:hover{
background-color: blue;
transition: .9s;

}




.ul, li,a{
    text-decoration: none;
    font-family: source sans pro, sans-serif;
    color: white;
    width: 100px;
    display: inline;
    margin: 10px;
background-color: cornflowerblue;

    
}

.nav-bar{
    background-color: burlywood;
}

ul a:hover{
    color: crimson;
    
}

.poop{

    font-family: source sans pro, sans-serif;
    color: cyan;
    position: relative;
    top: 10px; 
    
}


.poop:hover{
    -ms-transform: rotate(1deg); /* IE 9 */
    transform: rotate(1deg);
 
}
ul a:hover{
    width: 150px;
    height: 80px;
    -ms-transform: skewY(20deg); /* IE 9 */
    transform: skewY(20deg);
}


li a:hover {
    -ms-transform: skewY(20deg); /* IE 9 */
    transform: skewY(20deg);
    writing-mode:lr-tb;
    width:21px;
    color:#fff
  }

  .box{
      height: 100px;
  }


